<%- include("header") -%>
<h1>About page</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora eius facilis dignissimos. Porro neque culpa autem! Esse sed dolore recusandae, facilis mollitia vero unde, repellendus saepe, culpa exercitationem non dolorem! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat aliquam fuga ipsa porro nemo sapiente quia nam a saepe! Quidem enim fugiat iure. Optio, molestiae. Totam esse non eaque sed!</p>
<%- include("footer") -%> 